body {
    color: #ffff;
    background-color: black;
}

html {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.section {
    margin: 3rem 0;
}

.section-tittle {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 36px;
}

.grid--container {
    max-width: 1024px;
    display: grid;
    margin: 0 20px;
}

.parrafo {
    font-size: 20px;
    color: #717171;
    top: 0;

}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

/* NAVBAR */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 1px 9px 2px #ffffff1e;
    z-index: 100;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        border-radius: 0 0 12px 12px;
        background-color: #ffffff;
        box-shadow: 0px 1px 9px 2px #fffdfdab;
        padding: 2.5rem 1rem 1rem;
        transition: .5s;
    }
}

.navbar__logo {
    display: flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.btn__close {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #f5f5f5;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s;
}

.btn__open,
.btn__close,
.navbar__logo i {
    font-size: 2.2rem;
    color: #111;
}

.btn__close:hover {
    background-color: #eee;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__item {
    margin-bottom: 16px;

}

.show--menu {
    top: 0;
}

.navbar__link {
    color: rgb(0, 0, 0);
}

/* HOME */
.home {
    margin-top: 80px;
}

.home-container {
    height: 547px;
}

img {
    height: 200px;
}

.presentacion {
    color: #717171;
    font-size: 25px;

}

.home_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 200px;
}

.titulo {
    display: inline;
    font-size: 48px;
    padding: 0 0;
    color: ffff;
    margin: 0 0;
}


.parrafo {
    font-size: 20px;
    color: #717171;
    top: 0;

}

.home_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.home_social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;

}

.home_social--instagram,
.home_social--twitter,
.home_social--linkedin {
    justify-content: center;
    align-items: center;
}

.bxl-linkedin-square,
.bxl-instagram,
.bxl-twitter {
    font-size: 35px;
}

/* ABOUT ME */
.about_me__p {
    margin: 0 15px;
}

.about_me__tittle {
    margin: 40px 0 50px 0
}

.about_me-container>* {
    display: flex;
    justify-content: center;
    text-align: center;
}

.about_me-container {
    max-width: 700px;
    margin: 0 auto;
}

/* SKILLS */

.skills__tittle {
    margin: 40px 0 50px 0
}

.skill {
    margin: 100px 0;
    display: grid;

}

.skill>* {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-data--tittle {
    margin: 15px 10px 0;
    font-size: 26px;
}


.skills-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    max-width: 900px;
}

@media (max-width: 768px) {
    .skills-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.skills-data--description {
    margin-top: 0px;
    color: #a1a1a1;
}

.bx-desktop,
.bxl-react,
.bxl-nodejs,
.bx-mobile-alt {
    margin-top: 20px;
    font-size: 40px;
}

.skills-content__item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-content__item {
    width: 287px;
    height: 170px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
}

.skills-content__item2 {
    width: 287px;
    height: 170px;
    background-color: #1a1a1a;
    border-radius: 18px;
    transition: all .2s;
}

.skills-content__item2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.skills-content__item:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

/* EXPERIENCIE */

.experience {
    background-color: #1a1a1a;
    width: 100%;
    height: auto;
    padding: 50px 0 40px 0;
}

.experience-container {
    display: grid;
}

.experience__tittle {
    margin: 40px auto 50px auto;

}

.experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.experience__img {
    width: 60px;
    height: auto;
}

.experience__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience__data {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience__data>* {
    margin: 10px 0;
}

.experience__data-descripcion {
    color: #a1a1a1;
}

/*  PORTAFOLIO   */

.portafolio__container {
    display: grid;
}

.portafolio__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

/* .portafolio__content>* {} */

.portafolio__tittle {
    margin: 40px auto 40px auto;

}

.portafolio__item {
    background-color: #a52222 !;
}

.portafolio__item:hover {
    transition: .5;
    background-color: #dacdcd;
}

.input-group {
    position: relative;
}

.input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #212121;
    padding: 0 .2em;
    color: #2196f3;
}

/* CONTACT  */

.contact__contact {
    margin: 40px 20px;
    display: flex;
    gap: 50px;
    justify-content: center;

}

.contact_img__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: whitesmoke 1px solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

.img_contact {
    width: 50px;
    height: 50px;
}

.contact__item {
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__tittle {
    font-size: 26px;
    justify-content: center;
    margin: 0 auto;
}

.contact-title {
    margin: 40px auto;
}

.contact__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.contact__item {
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-description {
    color: #a1a1a1;
}

/* 
.contact {
    display: grid;
} */

.contac__container {
    display: grid;
}

.contatc__info-data {
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.contact__form {
    display: grid;
    width: 100%;
    padding: 3rem 1.5rem 2rem;
    background-color: #1a1a1a;
    border-radius: 5px;
    margin: 0 auto;
}

.contact__form-group {
    margin-bottom: 26px;
}

.contact__form-label {
    display: block;
    margin-bottom: 8px;
}

.contact__form-input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}